/*Eetu Rouhiainen*/

:root {
    --background1: #0E131F;
    --background2: #FF0035;
    --red: var(--background2);
    --dark: #B1A7A6;
    --black: #161A1D;
    --light: #D3D3D3;
    --white: #FFFFFF;
    --cold: #F5F3F4;
    --border: #0a0000;
    --notasblack: rgb(49, 46, 46);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(120deg, var(--background1), var(--background2));
    height: fit-content;
    min-height: 100vh;
}

/*Navbar css starts here*/
.navbar {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}

.navlink {
    padding: .1em;
    color: var(--red);
}

.navlink:hover {
    background-color: var(--lighterpurple);

}


#nav_a {
    font-size: x-large;
    color: var(--red);
    text-decoration: none;
    background-color: var(--black);
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
    font-size: large;
    color: var(--background2);
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: var(--black);
}


.dropdown-content a {
    color: var(--red);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: var(--background2);
    color: var(--border);
}


#nav_a:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Login and Signup CSS */

.login_body {
    background: linear-gradient(120deg, #0E131F, #FF0035);
    height: 100vh;
}

.logincenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: linear-gradient(120deg, #384052, #d8dfe7);
    border-radius: 10px;
}

.logincenter h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 400px;
    padding-bottom: 30px;
}

.txt_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.recipe_headers {
    text-align: center;
}

.addcomment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment_area {
    width: 90%;
    height: 10vh;
}



/* Front page css starts here */

.searchdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

form {
    width: 70%;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--black);
    float: left;
    background: var(--white);
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--black);
    float: left;
    width: 90%;
    background: var(--white);
}

form.search button {
    float: left;
    min-width: 5%;
    padding: 10px;
    background: var(--black);
    color: var(--red);
    font-size: 17px;
    border: 1px solid var(--black);
    border-left: none;
    cursor: pointer;
}

form.search button:hover {

    background: var(--background2);
    color: var(--background1);
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes {
    display: grid;
    grid-template-columns: auto auto auto;

}

.recipecard {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px;
    width: 25em;
    height: 15em;
    border: 2px solid var(--border);

}

.recipecardtop {
    height: 80%;
    width: 100%;
}

.recipecardbottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--notasblack);
    width: 100%;
    height: 20%;
    border-top: 2px solid var(--border);

}

.recipecardbottom h1 {
    color: var(--red);
    margin: 0;
    padding: 0;
    font-size: x-large;

}

.recipecardbottom button {
    height: 100%;
    width: 100%;
    font-size: xx-large;
}

img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1250px) {

    .recipes {
        display: grid;
        grid-template-columns: auto auto;

    }

}

@media only screen and (max-width: 835px) {

    .recipes {
        display: flex;
        flex-direction: column;

    }

}

/* Recipe page css starts here */


.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding-bottom: 2em;
    position: relative;
}

.likebutton {
    height: 50px;
    width: 50px;
    font-size: xx-large;
    color: var(--border);
    background-color: var(--background2);
}

.likebutton_container {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#image_container {
    width: 60vh;
    height: 30vh;
    box-shadow: 3px 3px 3px 3px var(--black);
    position: relative;
}

.recipe_info {
    display: flex;
    flex-direction: row;
    width: 80vh;
    height: fit-content;
    padding: 15px 15px 15px;

}

.ingredients,
.steps {
    width: 50%;
    height: fit-content;
    background-color: var(--cold);
    border-radius: 2%;
    padding-left: 10px;
    box-shadow: 3px 3px 3px 3px #0E131F;
}

.steps {
    margin-left: 2em;
}

.commentfield {
    display: flex;
    flex-direction: column;
    width: 75vh;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 12vh;
    background-color: var(--light);
    margin-top: 2em;
    box-shadow: 3px 3px 3px 3px #0E131F;
}

.comment {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: fit-content;
    min-height: 8vh;
    background-color: var(--cold);
    margin: 10px 10px 10px;

}

.username {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    width: 30%;
    height: 100%;
}

.comment_stuff {
    min-width: 70%;
    width: 70%;
    min-height: 100%;
    height: 100%;

}

@media only screen and (max-width: 1025px) {

    .recipe_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .ingredients,
    .steps {
        width: 75%;

    }

    .steps {
        margin-top: 2em;
        margin-left: 0;
    }

    .commentfield {

        width: 95%;

    }

    #image_container {

        width: 95%;
        height: 30%;
    }

    .image_container {

        width: 95%;
        height: 30%;
    }
}

@media only screen and (max-width: 650px) {

    .ingredients,
    .steps {
        width: 100%;

    }

    .likebutton {
        height: 40px;
        width: 40px;
        font-size: large;
    }

}






/* Add recipe css */

.recipeadd_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.recipe_add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    height: 100%;
    background-color: white;
}

.file_container {
    max-width: 600px;
    max-height: 350px;
    border: 2px solid var(--border);
}

#output {
    max-width: 600px;
    max-height: 350px;
}

/*Profile css*/

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.profilename {
    padding-top: 2em;
    padding-bottom: 1em;
   
}
.profilename h1{
    background: -webkit-linear-gradient(120deg, rgb(228, 203, 203), rgb(172, 18, 151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   
}

.profile_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.own_recipes,
.most_liked {
    width: fit-content;
    height: fit-content;
    background-color: var(--black);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--red);
    box-shadow: 3px 3px var(--border);
}

.own_recipes{
    margin-right: 2em;
}

.most_liked{
    margin-left: 2em;
}
.most_liked .recipecard{
    margin: 1em 1em 1em;
}
.own_recipes .recipecard{
    margin: 1em 1em 1em;
}


@media only screen and (max-width: 950px) {

    .profile_content{
        flex-direction: column;
        align-items: center;
    }

    .own_recipes, .most_liked{
        margin-right: 0;
        margin-left: 0;
        border-radius: 0%;
    }
    
    
}


@media only screen and (max-width: 450px) {

    .own_recipes, .most_liked{
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: flex-start;
    }
    
  
    .most_liked .recipecard{
        margin: 0;
    }
    .own_recipes .recipecard{
        margin: 0;
    }
}